# Dependencies
cpputils

# OS X and Xcode files
.DS_Store
glm
*.xcworkspace
xcuserdata
xcuserdata/*
*~
*.swp
*.dSYM

# LaTeX products
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.toc
*.vrb